.container {
    height: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.result {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
}
