
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

$light-theme: (
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

$dark-theme: (
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

html {
  min-height: 100%;
}

html,
html[data-theme='light'] {
  @include mat.theme($light-theme);
}

html[data-theme='dark'] {
  @include mat.theme($dark-theme);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    @include mat.theme($dark-theme);
  }
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  transition: background-color 150ms ease, color 150ms ease;
  color-scheme: light;
}

html[data-theme='dark'] body {
  color-scheme: dark;
}

html[data-theme='light'] body {
  color-scheme: light;
}

html:not([data-theme]) body {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) body {
    color-scheme: dark;
  }
}

/* You can add global styles to this file, and also import other style files */
